TRAEPE_HTTP_PORT=8000
TRAEPE_MAILPIT_HTTP_PORT=11825
TRAEPE_REVERB_PORT=18080
TRAEPE_TECHNICAL_PASSWORD=
TRAEPE_REVERB_APP_KEY=
TRAEPE_REVERB_APP_SECRET=
TRAEPE_MINIO_PORT=19000
TRAEPE_MINIO_CONSOLE_PORT=19001
TRAEPE_MINIO_ROOT_PASSWORD=
TRAEPE_MINIO_APP_PASSWORD=
TRAEPE_APP_KEY=
TRAEPE_POSTGRES_PORT=54320
TRAEPE_REDIS_PORT=63790
TRAEPE_POSTGRES_DB=traepe
TRAEPE_POSTGRES_USER=traepe
TRAEPE_POSTGRES_PASSWORD=
TRAEPE_REDIS_PASSWORD=
TRAEPE_SANCTUM_STATEFUL_DOMAINS=localhost:8000,127.0.0.1:8000
